---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="The Wooden Circuit">
    <Navbar></Navbar>
	<main>
		<h1 class="page-title">Contact</h1>
        <h3>Reach out with</h3>
        <address class="text-box">
            <i class="fa-solid fa-phone"></i> <a href="tel:+10000000000">+1 (000) 000-0000</a><br>
            <i class="fa-solid fa-envelope"></i> <a href="mailto:contact@thewoodencircuit.com">contact@thewoodencircuit.com</a>
        </address>
        <Footer></Footer>
	</main>
</Layout>
<script src="https://kit.fontawesome.com/a0c04c3719.js" crossorigin="anonymous"></script>
