---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="The Wooden Circuit">
	<Navbar></Navbar>
	<main>
		<h1 class="page-title">Welcome to <br><span class="text-gradient">The Wooden Circuit</span></h1>

		<p>
			The Wooden Circuit is...<b>[TODO]</b>
		</p>
		<h2>Explore</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="/projects"
				title="Projects"
				body="Explore our different projects!"
			/>
			<Card
				href="/events"
				title="Events"
				body="Learn more about our events."
			/>
			<Card
				href="/about"
				title="About Us"
				body="Learn more about The Wooden Circuit."
			/>
			<Card
				href="https://github.com/TheWoodenCircuit"
				title="GitHub"
				body="Project and community-made code"
			/>
		</ul>
		<p>
			More info...
		</p>
	</main>
	<Footer></Footer>
</Layout>
