---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="The Wooden Circuit">
	<!-- Can't use Header component due to gradient -->
	<header>
		<h1>Welcome to<br><span class="text-gradient">The Wooden Circuit</span></h1>
	</header>
	<main>
		<p><b>The Wooden Circuit</b> is a non-profit organization that does something.</p>
		<h2>Explore</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="/projects"
				title="Projects"
				body="Explore our different projects!"
			/>
			<Card
				href="/events"
				title="Events"
				body="Learn more about our events."
			/>
			<Card
				href="/about"
				title="About Us"
				body="Learn more about The Wooden Circuit."
			/>
			<Card
				href="https://github.com/TheWoodenCircuit"
				title="GitHub"
				body="Project and community-made code"
			/>
		</ul>
		<p>
			More info...
		</p>
	</main>
</Layout>
