---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="The Wooden Circuit">
	<main>
		<h1>Welcome to <br><span class="text-gradient">The Wooden Circuit</span></h1>
		<Navbar></Navbar>	
		<ul role="list" class="link-card-grid">
			<Card
				href="/projects"
				title="Projects"
				body="Explore our different projects!"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Events"
				body="Learn more about TWC events."
			/>
			<Card
				href="https://astro.build/themes/"
				title="About Us"
				body="Learn more about The Wooden Circuit."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="I dunno-- something should be here"
			/>
		</ul>
	</main>
</Layout>
