---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="The Wooden Circuit">
    <Header header="Information" subheader="Resources, events, etc..." />
	<main>
        <p class="text-box">
            <b>I'm too lazy to make this page</b><br>
            Check back later! I might have finished by then...
        </p>
	</main>
</Layout>
