---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="The Wooden Circuit">
	<main>
		<h1>There's a problem...</h1>
		<Navbar></Navbar>	
        <h3>I'm too lazy to make this page</h3>
        <p class="text-box">
            Check back later! I might have finished by then (probably not)
        </p>
	</main>
</Layout>
<script src="https://kit.fontawesome.com/a0c04c3719.js" crossorigin="anonymous"></script>
