---
import '../styles/global.css';
export interface Props {};
---

<div class="text-box">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/info">Information</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
</div> 
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    li {
        display: inline;
    }
    a, a:visited, a:hover, a:active {
        margin: 0.5rem;
        color: black;
    }
</style>